body {

}

#container {
    background: light gray;
    width: 360px;
    margin: 0 auto;
    border: 2px solid gray;
}

#text-input {
   width: 160px;
}

#gray-border, li {
    border: 1px solid red;
    padding: 5px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid red;
}