


#container {
    margin:0 auto;
    width: 360px;
    border: 1px solid gray;
}

#text-input {
   width: 160px;
}

#gray-border, li {
    border: 1px solid red;
    padding: 5px;
}

li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid red;
    margin: 7px;
}

.completed {
    color: gray;
    text-decoration: line-through;

}