
h1, p, li {
    padding: 10px 10px;
    border: 1px solid gray;
    margin: 7px;

}

#container {
    margin: 100px auto; 
    width: 360px;
    border: 1px solid gray;
    background-color: #f7f7f7;
}

#text-input {
   width: 180px;
}

#gray-border, li {
    border: 1px solid red;
    padding: 5px;
}

input {

    width: 280px;
    margin: 7px 7px;

}
li {
    list-style-type: none;
    padding: 5px 5px 5px 5px;

}

.controls {
    font-size: small;
    width: 50px;
    float: left;
    margin: 50px;
}
.completed {

    color: gray;
    text-decoration: line-through;

}